<h1 id='albums_header'>Enter an Album</h1>

<form id="input_album" action="/albums" method="post">

<p><label for="name">Album: </label>
<input type="text" name="name"></p>

<p><label for="artist_id">Please choose an Artist</label>

<select name="artist_id">
    <% @artists.each do |artist| %>
    <option value="<%= artist.id %>"><%= artist.name %></option>
    <% end %>  
</select></p>

<input type="submit" value="Add an Album">

</form>